<head>
  <title>Two Layouts</title>
  <%= stylesheet_link_tag 'three_column', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'two_column', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<h1>This is the three_column layout!</h1>
		<div class="row">
			<div id="left" class="col-md-4">
				<h2>This is the left column</h2>
				<%= yield :left %>
			</div>
			<div id="center" class="col-md-4">
				<%= yield :center %>
			</div>
			<div id="right" class="col-md-4">
				<h2>This is the right column</h2>
				<%= yield :right %>
			</div>
		</div>
</body>